.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-text-primary);
}

.select {
    width: 100%;
    padding: 0.625rem 1rem;
    padding-right: 2.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);

    font-size: 0.875rem;
    color: var(--color-text-primary);

    appearance: none;
    background-color: var(--color-surface);
    outline: none;

    transition: var(--transition);
}

.select:focus {
    border-color: var(--color-primary);
    box-shadow: var(--shadow-focus);
}

.select:disabled {
    cursor: not-allowed;
    color: var(--color-text-secondary);
    background-color: var(--color-bg);
}

.select_error {
    border-color: var(--color-danger-text);
}

.select_error:focus {
    box-shadow: var(--shadow-focus-danger);
}

.error_message {
    font-size: 0.75rem;
    color: var(--color-danger-text);
}
