.form_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.form_actions {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 16px;
}

.form_actions_lg {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 32px;
}

.modal_subtitle {
    margin-bottom: 16px;
    font-size: 16px;
}

.mt8 {
    margin-top: 32px;
}

.text_capitalize_fw500 {
    font-weight: 500;
    text-transform: capitalize;
}

.flex_center_gap8 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.mr2 {
    margin-right: 8px;
}
