.detalhes_container {
    display: flex;
    flex-direction: column;
}

.detalhes_header {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;

    padding: 24px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);

    background-color: var(--color-surface);
    box-shadow: var(--shadow-sm);
}

.detalhes_header > div {
    flex: 1 1 min-content;
    min-width: 140px;
}

.detalhe_label {
    margin: 0 0 8px;

    font-size: 12px;
    font-weight: 600;
    color: var(--color-text-secondary);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.detalhe_valor {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text-primary);
}

/* Modais Form */
.form_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.form_actions {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 16px;
}

.form_actions_lg {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.modal_subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-primary);
}

.mt8 {
    margin-top: 32px;
}

.text_capitalize_fw500 {
    font-weight: 500;
    text-transform: capitalize;
}

.flex_center_gap8 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.mr2 {
    margin-right: 8px;
}

.error_message_modal {
    padding: 12px;
    border-radius: 8px;
    color: var(--color-danger-text);
    background-color: var(--color-danger-bg);
}

.td_small {
    width: 100px;
}

.td_medium {
    width: 150px;
}

.text_danger {
    color: var(--color-danger-text);
}

.total_wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--color-surface);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
}

.total_wrapper .detalhe_label {
    margin: 0 16px 0 0;
    font-size: 14px;
}

.total_valor {
    font-size: 24px;
    color: var(--color-primary);
}
